<html>
<head>
    <title>hades</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/theme.css">
</head>
<body>
    <header>
        <a class="logo" href="/">hades</a>
        <span class="spacer"></span>
    </header>
    <main>
        <h1>Error</h1>
        <div class="error">internal server error</div>
    </main>
</body>
</html>
